{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
	
	<h1>Salesforce Schema Lister</h1>
	<p>
		See the objects and fields printed below for Org Id: <i>{{ schema.org_id }}</i>
	</p>

	<hr />

	Jump to Object: 
	{% for object in schema.sorted_objects %} 
		<a href="#{{ object.api_name }}" class="object_link">{{ object.label }}</a> | 
	{% endfor %}

	<hr />

	{% for object in schema.sorted_objects %}

		<a name="{{ object.api_name }}"></a>
		<h2>{{ object.label }} ({{ object.api_name }})</h2>

		<table class="table table-hover">

			<thead>
				<tr>
					<th width="30%">Field Label</th>
					<th width="30%">API Name</th>
					<th width="30%">Type</th>
				</tr>
			</thead>

			<tbody>

			{% for field in object.sorted_fields %}

				<tr>
					<td>{{ field.label }}</td>
					<td>{{ field.api_name }}</td>
					<td>{{ field.data_type|linebreaks }}</td>
				</tr>

			{% endfor %}

			</tbody>

		</table>

		<br/>

	{% endfor %}

{% endblock %}