{% extends 'base.html' %}

{% block content %}

	<!--
		Remove auto-delete. Database is cleared daily anyway.
	<script>
		$(document).ready(function() 
		{
			$.ajax({
			    url: '/delete_schema/{{ schema.random_id }}/',
			    type: 'get',
			    success: function(resp) 
			    {
			        // Else do nothing. It will re-run in 5 seconds
			    },
			    failure: function(resp) 
			    { 
			        // Do nothing
			    }
			});
		})
	</script>
	-->

	<div class="{% if request.GET.noheader == '1' %}col-md-12{% else %}col-md-10 col-md-offset-1{% endif %}">

		<div class="col-md-8">
			<h1>Salesforce Schema Lister</h1>
		</div>

		<div class="col-md-4 text-right">
			<a href="/export/{{ schema.random_id }}/">
				<button class="btn btn-warning" style="margin-top:20px;">Export to XLSX</button>
			</a>
		</div>

		<div class="col-md-12">

			<hr/>

			<p>
				See the objects and fields printed below for the Org: <strong>{{ schema.org_name }}</strong> ({{ schema.org_id }}) <br/><br/>
			</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			    <div class="panel panel-default">

			        <div class="panel-heading" role="tab" id="headingOne">
			            <h4 class="panel-title">
			                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
			                    Jump to Object
			                </a>
			            </h4>
			        </div>

			        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			            <div class="panel-body">
			            	{% for object in schema.sorted_objects %} 
		                    	<a href="#{{ object.api_name }}" class="object_link">{{ object.label }}</a> <span class="object_link">|</span> 
		                    {% endfor %}
			            </div>
			        </div>

			    </div>

			</div>

			{% for object in schema.sorted_objects %}

				<a name="{{ object.api_name }}"></a>
				<h2>{{ object.label }} ({{ object.api_name }})</h2>

				<table class="table table-hover">

					<thead>
						<tr>
							<th width="{% if schema.include_field_usage %}20%{% else %}25%{% endif %}">Field Label</th>
							<th width="{% if schema.include_field_usage %}20%{% else %}25%{% endif %}">API Name</th>
							<th width="{% if schema.include_field_usage %}20%{% else %}25%{% endif %}">Type</th>
							<th width="{% if schema.include_field_usage %}20%{% else %}25%{% endif %}">Help Text</th>
							{% if schema.include_field_usage %}
								<th width="20%">Field Usage</th>
							{% endif %}
						</tr>
					</thead>

					<tbody>

					{% for field in object.sorted_fields %}

						<tr>
							<td>{{ field.label }}</td>
							<td>{{ field.api_name }}</td>
							<td>{{ field.data_type|linebreaks }}</td>
							<td>{% if field.help_text %}{{ field.help_text|linebreaks }}{% endif %}</td>
							<td>
								{% if field.page_layout_usage %}
									<strong>Layouts</strong>
									<ul class="no-padding-left">
										{% for usage in field.page_layout_usage %}
											<li>{{ usage.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}

								{% if field.workflow_usage %}
									<br/>
									<strong>Workflows</strong>
									<ul class="no-padding-left">
										{% for usage in field.workflow_usagex %}
											<li>{{ usage.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
						</tr>

					{% endfor %}

					</tbody>

				</table>

				<br/>

			{% endfor %}

		</div>

	</div>

	<a href="#" class="back-to-top">Back to Top</a>

{% endblock %}